build/
bin/
obj/
out/
.cache/

vcpkg_installed/
src/external/vcpkg/packages/
src/external/vcpkg/buildtrees/
src/external/vcpkg/downloads/
src/external/vcpkg/installed/

src/external/vcpkg/vcpkg.exe
src/external/vcpkg/vcpkg

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.vs/
*.user
*.userosscache
*.sln
*.vcxproj
*.filters

*.log
*.tmp
*.bak